<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
<link rel="stylesheet" href="__PUBLIC__/css/skin-blue.min.css">
<link rel="stylesheet" href="__PUBLIC__/css/AdminLTE.min.css">
<link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css">
<link rel="stylesheet" href="__PUBLIC__/css/ionicons.min.css">
<link rel="stylesheet" href="__PUBLIC__/css/daterangepicker.css">
<link rel="stylesheet" href="__PUBLIC__/css/dataTables.bootstrap.min.css">
<script src="__PUBLIC__/js/jquery.min.js"></script>
<link rel="stylesheet" href="__PUBLIC__/css/select2.min.css">
<style>
th{width: 150px;text-align: right;}
.graph{width:300px;background-color:#F0EFEF;border:1px solid #cccccc;padding:2px;font-size:13px;font-weight:700;float:left;}
.graph_msg{float:left;width:50px;margin-left:20px;padding-top:5px;}
.graph .orange,.green,.red{position:relative;text-align:left;color:#ffffff;height:18px;line-height:18px;font-family:Arial;display:block;}
.graph .orange{background-color:#ff6600;}
.graph .green{background-color:#66CC33;}
.graph .red{background-color:#ff0000;}
</style>
