  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>版本</b> {$version}
    </div>
    <strong><a>上海龙翊信息安全技术有限公司</a>版权所有 &copy; 2018-<?php echo date('Y');?> </strong>
  </footer>

</div>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/adminlte.min.js"></script>
<script src="__PUBLIC__/js/validform.js"></script>
<script src="__PUBLIC__/js/layer/layer.js"></script>
<script src="__PUBLIC__/js/jquery.dataTables.min.js"></script>
<script src="__PUBLIC__/js/dataTables.bootstrap.min.js"></script>
<script src="__PUBLIC__/js/select2.full.min.js"></script>
<script src="__PUBLIC__/js/WdatePicker.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>
