<section class="content-header">
  <h1>
   修改用户
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> 控制台</a></li>
    <li><a href="{:U('User/index')}">用户管理</a></li>
    <li class="active">修改用户</li>
  </ol>
</section> 
<section class="content">
  <div class="box box-info">
    <div class="box-header with-border"></div>
    <form id="form" name='form_op' method="post" class="form-horizontal valideform" action="{:U('User/update')}">
      <input type="hidden" name="uid" value="{$uid}" />
      <div class="box-body">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
          <div class="col-sm-5">
            {$result['uname']}
          </div>
        </div>

        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">密码</label>

        <div class="col-sm-5">
            <input type="password" name="password" id="password" class="form-control">
          </div>
          <p class="help-block col-sm-3"><font color="Red">*</font> &emsp;6～16个字符，区分大小写</p>
        </div>

        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">确认密码</label>
        <div class="col-sm-5">
            <input type="password" name="password2" id="password2" class="form-control" recheck="password">
          </div>
        </div> 
        
        <if condition = "$uid neq 1">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">角色</label>
            <div class=" col-sm-2"> 
              <div class="checkbox" >
              <select name="group_id" id="group_id" class="form-control select2" datatype="n" nullmsg="请选择角色">
                <option value="">请选择</option>
                <foreach name="group" item="vo">
                  <option value="{$vo.id}" {$result['group_id'] == $vo['id'] ? 'selected' : ''}>{$vo.title}</option>
                </foreach>
              </select> 
              </div>
            </div> 
        </div> 
        </if>

        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">姓名</label>
        <div class="col-sm-5">
            <input type="text" name="name" id="name" value="{$result['name']}" class="form-control">
          </div>
        </div>
         <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">部门</label>

        <div class="col-sm-5">
            <input type="text" name="department" id="department" value="{$result['department']}" class="form-control" placeholder="请填写部门">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">岗位</label>

        <div class="col-sm-5">
            <input type="text" name="post" id="post" value="{$result['post']}" class="form-control" placeholder="请填写岗位">
          </div>
        </div>

        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">电子信箱</label>
        <div class="col-sm-5">
            <input type="text" name="email" id="email" value="{$result['email']}" class="form-control">
          </div>
        </div>

                <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">允许登录的ipv4地址</label>

        <div class="col-sm-5">
           
            <textarea name="bindipv4" id="bindipv4" style="width: 500px; height: 100px;"><?php
                $allowips_array = unserialize($result['allowips']);
                if (!empty($allowips_array))
                {
                echo implode("\r\n", $allowips_array);
                }
                ?></textarea>
          </div>
          <p class="help-block col-sm-5"> &emsp; 多个IP请换行</p> 
        </div>

        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">允许登录的ipv6地址</label>

        <div class="col-sm-5"> 
            <textarea name="bindipv6" id="bindipv6" style="width: 500px; height: 100px;"><?php
                $allowipv6_array = unserialize($result['allowipv6']);
                if (!empty($allowipv6_array))
                {
                echo implode("\r\n", $allowipv6_array);
                }
                ?></textarea>
          </div>
          <p class="help-block col-sm-5"> &emsp; 多个IP请换行</p> 
        </div>

        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">联系电话</label>
        <div class="col-sm-5">
            <input type="text" name="phone" id="phone" value="{$result['phone']}" class="form-control">
          </div>
        </div>
      </div>
      
      <div class="box-footer">
          <input type="submit" value="提交" name="edit" class="btn btn-primary"/>
      </div>
    </form>
  </div> 
</section>